
QSplitter::handle {
    background: palette(dark);
}

QTabWidget::tab-bar {
    left: 5px; /* move to the right by 5px */
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    background: lightgrey;
    border: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 5px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: #B4B4B4;
}

QTabBar::tab:!selected {
    margin-top: 2px; /* make non-selected tabs look smaller */
}
/* * {
    background-color: #FFF8ED;
    color: #546E7A;
    selection-background-color: #E7C496;
    selection-color: #272727;
}

QPushButton, QToolButton {
    border: none;
    background-color: #F6D7B0;
}

QPushButton:hover, QToolButton:hover {
    border: none;
    background-color: #E7C496;
}

QMenu {
    padding: 0;
}

QMenuBar {
    padding: 0;
}

QMenuBar::item {
    padding: 8px 12px;
    background: transparent;
}

QMenuBar::item:selected, QMenu::item:selected {
    background: #E7C496;
}

QMenu::item {
    padding: 8px;
}

QTableView {
    selection-background-color: #2FCF69;
}*/